@media(max-width:1200px) {
	.header__box {
		.btn {
			display: none;
		}
	}
}

@media(max-width:1100px) {
	.footer__inner {
		flex-wrap: wrap;
	}

	.footer__coll-adress {
		min-width: 100%;
		margin-bottom: 30px;
	}
}

@media(max-width:950px) {
	.start {
		display: none;
	}

	.start-home {
		display: block;
	}

	.menu-list {
		display: none;
		position: absolute;
		background-color: #fff;
		top: 180px;
		left: 0;
		right: 0;
		z-index: 1;
		text-align: center;

		a {
			display: block;
			padding: 10px 0;
		}

		li {
			display: block !important;
			padding: 0;
		}
	}
	.drop__menu{
		display: none;
	}

	.drop__box{
		margin-top: 0;
	}
	.header-bottom__menu{
		.menu{
			a{
				padding: 30px 0;
			}
		} 
	} 
	.header-bottom__menu {
		.menu {
			li {
				&+li {
					padding-left: 0px;
				}
			}
		}
	}

	.drop__box {
		height: auto;
	}

	.menu__burger {
		display: block;
		width: 30px;
		cursor: pointer;

		div {
			height: 3px;
			background-color: #262b30;

			&+div {
				margin-top: 3px;
			}
		}
	}
}

@media(max-width:800px) {
	.footer__top {
		padding-top: 50px;
	}

	.footer__coll-social {
		min-width: 100%;
	}

	.footer__coll-menu {
		margin-bottom: 30px;

		&+.footer__coll-menu {
			margin-left: 30px;
		}
	}

	.footer__coll-search {
		form {
			width: 100%;
		}
	}

	.footer__inner {
		justify-content: flex-start;
	}
}

@media(max-width:730px) {

	.notification__box,
	.message__box {
		display: none;
	}
}

@media(max-width:600px) {
	.header-bottom__search{
		width: 100%;
	}
	.header-bottom__search{
		form{
			width: 100%;
		}
	} 
	.start.start-home{
		margin-right: 0;
		margin-left: auto;
	}
	.footer__bottom {
		padding: 40px 40px;
	}

	.basket__menu {
		right: -170px;
	}
}

@media(max-width:580px) {
	.basket__menu {
		right: -290px;
	}

	.basket__box {
		margin-left: 10px;
	}

	.header-bottom__search {
		input {
			padding-right: 50px;
		}
	}

	.header-bottom__inner {
		justify-content: start;
	}

	.menu__burger {
		position: absolute;
		top: 50px;
		transform: translate(0, -50%);
	}

	.header-top__logo {
		margin-left: 60px;
	}

	.header__box {
		.header__user {
			margin-left: 20px;
		}
	}

	.header__btn-menu {
		display: block;
	}

	.header__btn-menu {
		min-width: 100px;
		height: 100px;
		background-color: #fff;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 35px;
			color: #54667a;
		}
	}

	.header__box {
		transition: all .5s;
		height: 100px;
		position: absolute;
		background-color: #eef1f3;
		left: 100%;
		right: -100%;

		&.active {
			left: 70px;
			right: 70px;
			z-index: 2;

		}
	}
}

@media(max-width:540px){
	.start.start-home{
		display: none;
	}
}

@media(max-width:450px) {
	.basket__box {
		display: none;
	}

	.footer__inner {
		justify-content: flex-start;
	}

	.footer__coll-menu {
		min-width: 100%;
		margin-bottom: 30px;

		&+.footer__coll-menu {
			margin-left: 0px;
		}
	}
}

@media(max-width:400px) {
	.header__btn-menu {
		min-width: 70px;
	}

	.header__box {
		.header__user {
			margin-left: 10px;
		}
	}
}

@media(max-width:370px) {
	.header-top__logo {
		a {
			font-size: 25px;
		}
	}

	.header-top__logo {
		margin-left: 50px;
	}

	.header__box.active {
		left: 50px;
	}

	.header__box {
		.header__user-score {
			display: none;
		}
	}

}

@media(max-width:350px) {
	.footer__coll-icon {
		display: grid;
		grid-template-columns: 20% 20% 20%;
		grid-column-gap: 15px;
	}

	.footer__coll-icon>div+div {
		margin-left: 0;
	}
}




@media(min-width:730px) {

	.notification__box,
	.message__box {
		display: block;
	}
}

@media(min-width:950px) {
	.menu__list {
		display: block !important;
	}
}