@import '../scss/vars';
@import '../scss/global';
@import '../scss/fonts';

//Header//

.wrapper {
	overflow-x: hidden;
	position: relative;
}

.header-top {
	background-color: #eef1f3;

	&__seller {
		padding-right: 50px;
	}
}

.header-top__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.header-top__logo {
	display: flex;
	align-items: center;

	&>a {
		font-size: 30px;
		font-weight: 600;
		padding-left: 4px;
		line-height: 28px;
		text-decoration: none;
		color: #000;

		span {
			color: $blue;
		}
	}
}

.header__box {
	display: flex;
	align-items: center;
}

.header__identification {
	display: flex;
	align-items: center;

	.btn {
		border-radius: 0px;
		background-color: transparent;
		color: #676767;
		border: 2px solid transparent;

		&:hover {
			border: 2px solid $blue;
		}
	}

	.header__registr {}
}

.start {
	margin-top: auto;
	margin-bottom: auto;

	li {
		display: inline;

		&+li {
			margin-left: 22px;
		}

		a {
			color: #676767;
			font-size: 15px;
		}
	}
}

.header__btn-menu {
	display: none;
}

.header__box {
	position: relative;

	.btn {
		margin-right: 50px;
	}

	.header__circle {
		position: relative;
		cursor: pointer;

		span {
			width: 22px;
			height: 22px;
			border-radius: 50%;
			position: absolute;
			font-size: 14px;
			font-weight: 500;
			text-align: center;
			background-color: gray;
			line-height: 20px;
			top: -15px;
			color: #fff;
		}
	}

	.bell-o {
		position: absolute;
	}

	.icon-bell-o,
	.icon-envelope-o,
	.icon-cart {
		font-size: 20px;
		color: #7e8fa1;
	}

	.notification {
		span {
			background-color: #ff6a6c;
		}
	}

	.message {
		span {
			background-color: #62d03b;
		}
	}

	.basket {
		span {
			background-color: #0674ec;
		}
	}

	.header__user {
		display: flex;
		align-items: center;
		margin-left: 50px;
		line-height: 22px;

		&-img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin-right: 23px;
			background-color: #a9a9a9;

			img {
				max-width: 100%;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}

		&-name {
			font-weight: 500;
			color: #333333;
			padding-top: 5px;
		}

		&-score {
			font-size: 15px;
			color: $blue;
			display: block;
		}
	}
}

.user__menu {
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
	padding: 0 20px;
	width: 271px;
	top: 75px;
	left: -50px;
	z-index: 2;
	border-top: 0px solid $blue;
	transition: all .3s;
	height: 0px;
	overflow: hidden;

	a {
		font-size: 15px;
		color: #54667a;
		padding: 9px 0 9px 40px;
		display: block;

		&:hover {
			background-color: $blue;
			color: #fff;
		}
	}

	.user__menu-icon {
		position: relative;

		&::before {
			position: absolute;
			font-family: 'icomoon' !important;
			left: 10px;
		}
	}

	.user-profile {
		&::before {
			content: '\f2c0';
		}
	}

	.user-dashboard {
		&::before {
			content: '\f015';
		}
	}

	.user-account {
		&::before {
			content: '\f013';
		}
	}

	.user-purchases {
		&::before {
			content: '\e900';
		}
	}

	.user-favorites {
		&::before {
			content: '\f08a';
		}
	}

	.user-credits {
		&::before {
			content: '\f1ec';
		}
	}

	.user-sales {
		&::before {
			content: '\f080';
		}
	}

	.user-upload {
		&::before {
			content: '\f093';
		}
	}

	.user-edit {
		&::before {
			content: '\f02d';
		}
	}

	.user-withdrawals {
		&::before {
			content: '\f0f2';
		}
	}

	.user-logout {
		&::before {
			content: '\ea13';
		}
	}
}

.user__box,
.basket__box,
.message__box,
.notification__box {
	position: relative;
	height: 100px;
	margin-top: 50px;

	&:hover {
		.user__menu {
			height: auto;
			border-top: 1px solid $blue;
			padding: 20px 20px 15px;
			overflow: auto;
		}
	}
}

.basket__box {
	margin-top: 75px;
	margin-left: 33px;

	&:hover {
		.basket__menu {
			height: auto;
			border-top: 1px solid $blue;
			overflow: auto;
			transition: all .3s;
		}
	}
}

.basket__item {
	border-bottom: 1px solid #e8ebf0;
	padding: 26px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: none;

	.basket__item-img {
		width: 80px;
		height: 70px;
		margin-right: 15px;
		background-image: url(../image/Header/basket/wordpress-g37a9029e3_640.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: gray;

		img {
			width: 70px;
		}
	}

	.basket__item-info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.basket-info {
			&__name {
				font-weight: 500;
				color: #000;
				line-height: 22px;
				padding-bottom: 13px;
			}

			&__them {
				line-height: 15px;
				font-size: 15px;
				color: #7347c1;
				padding-left: 21px;
				position: relative;

				&::before {
					position: absolute;
					content: '';
					background-image: url(../image/Weekly/wordpress.png);
					width: 15px;
					height: 15px;
					left: 0;
				}
			}
		}
	}

	.basket__item-price {
		.basket-delete {
			width: 32px;
			height: 32px;
			background-color: #f0ebf8;
			border-radius: 50%;
			position: relative;
			margin: 0 auto;

			&::before {
				content: "\f014";
				position: absolute;
				font-family: 'icomoon' !important;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #818c98;
			}
		}

		.basket-price {
			background-color: #e6f1fd;
			color: $blue;
			margin-top: 10px;
			padding: 0 12px;
			border-radius: 15px;
			min-width: 50px;
			text-align: center;
			font-weight: 500;
		}
	}
}

.basket__total {
	font-size: 18px;
	font-weight: 500;
	text-align: right;
	padding: 21px 20px 24px;

	span {
		padding-left: 32px;
	}
}

.basket__btn {
	display: flex;

	button {
		min-width: 200px;
		height: 60px;
		color: #fff;
		cursor: pointer;

		&:hover {
			background-color: #fff;
			transition: all .3s;
		}
	}

	.cart {
		background-color: #7347c1;
		border: 1px solid #7347c1;
		border-right: none;

		&:hover {
			color: #7347c1;
		}
	}

	.checkout {
		background-color: $blue;
		border: 1px solid $blue;
		border-left: none;

		&:hover {
			color: $blue;
		}
	}
}

.basket__menu {
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
	width: 400px;
	top: 62px;
	right: -50px;
	z-index: 2;
	border-top: 0px solid $blue;
	transition: all .3s;
	height: 0px;
	overflow: hidden;

	a {
		font-size: 15px;
		color: #54667a;
		display: block;

		&:hover {}
	}
}

.message__box {
	margin-top: 75px;
	margin-left: 33px;

	&:hover {
		.message__menu {
			height: auto;
			border-top: 1px solid $blue;
			overflow: auto;
		}
	}

	.message__item {
		padding: 25px 20px;
		display: flex;
		// justify-content: space-between;
		align-items: center;
	}

	.message__top {
		padding: 25px 20px;
		display: flex;
		justify-content: space-between;
		border-top: none;

		.message-title {
			a {
				font-size: 18px;
				color: #000;
			}
		}
	}

	.message-all {
		a {
			font-size: 15px;
			color: $blue;
		}
	}
}

.message__menu {
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
	width: 370px;
	top: 62px;
	right: -50px;
	z-index: 2;
	border-top: 0px solid $blue;
	transition: all .3s;
	height: 0px;
	overflow: hidden;

	a {
		font-size: 15px;
		color: #54667a;
		display: block;

		&:hover {}
	}
}

.message__item {
	border-top: 1px solid #e8ebf0;

	&-img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: gray;
	}

	&-info {
		margin-left: 15px;

		.message-info__top {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.message-name {
				font-weight: 500;
				color: #333333;
			}

			.message-name__letter {
				position: relative;

				&::after {
					position: absolute;
					content: '\f003';
					font-family: 'icomoon' !important;
					margin-left: 15px;
					color: $blue;
				}
			}

			.message-name__repost {
				position: relative;

				&::after {
					position: absolute;
					content: '\f122';
					font-family: 'icomoon' !important;
					margin-left: 15px;
					color: #747a86;
				}
			}

			.message-time {
				margin-right: -25px;
				font-size: 14px;
				color: #747a86;
			}

			.message-time-active {
				color: $blue;
			}
		}
	}
}

.message__text {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.notification__menu {
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
	width: 370px;
	top: 62px;
	right: -50px;
	z-index: 2;
	border-top: 0px solid $blue;
	transition: all .3s;
	height: 0px;
	overflow: hidden;

	a {
		font-size: 15px;
		color: #54667a;
		display: block;

		&:hover {}
	}
}

.notification__box {
	margin-top: 75px;
	margin-left: 33px;

	&:hover {
		.notification__menu {
			height: auto;
			border-top: 1px solid $blue;
			overflow: auto;
		}
	}
}

.notification__menu {
	.notification__top {
		padding: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.notification__title {
			a {
				font-size: 18px;
				color: #000;
			}
		}

		.notification__all {
			a {
				font-size: 15px;
				color: $blue;
			}
		}
	}
}

.notification__item {
	padding: 20px 25px;
	display: flex;
	align-items: center;
	border-top: 1px solid #e8ebf0;

	.notification__item-img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: grey;
	}

	.notification__name {
		width: 217px;
		margin-left: 15px;
		font-size: 15px;
		color: #747a86;
		line-height: 20px;

		span {
			font-weight: 500;
			color: #333333;
		}
	}

	.notification__them {
		display: inline-block;
		color: $blue;
	}
}



.header-bottom__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.header-bottom__menu {
	.menu {
		li {
			display: inline-block;

			&+li {
				padding-left: 33px;
			}
		}

		a {
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 500;
			color: #333;

			&:hover {
				color: $blue;
				transition: all .3s;
			}
		}
	}
}

.drop__box {
	position: relative;
	height: 80px;
	margin-top: 40px;

	&:hover {
		.drop__menu {
			height: auto;
			border-top: 1px solid $blue;
			overflow: auto;
			padding: 20px 20px 30px 20px;

			li {
				padding-left: 0;
				display: block;

				a {
					padding: 7.5px 7px;
					font-size: 15px;
					color: #54667a;
					text-transform: none;

					&:hover {
						background-color: $blue;
						color: #fff;
					}
				}
			}
		}
	}
}

.drop__menu {
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
	width: 250px;
	z-index: 2;
	border-top: 0px solid $blue;
	transition: all .3s;
	height: 0px;
	overflow: hidden;
	top: 60px;

	a {
		font-size: 15px;
		color: #54667a;
		display: block;

		&:hover {}
	}
}

.pages__box {
	position: relative;
	height: 80px;
	margin-top: 40px;

	&:hover {
		.pages__menu {
			height: auto;
			border-top: 1px solid $blue;
			overflow: auto;
			padding: 20px 20px 30px 20px;

			li {
				padding-left: 0;
				display: block;

				a {
					padding: 7.5px 7px;
					font-size: 15px;
					color: #54667a;

					&:hover {
						// background-color: $blue;
						// color: #fff;
					}
				}
			}
		}
	}
}

.pages__menu {
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
	width: 1170px;
	z-index: 2;
	border-top: 0px solid $blue;
	transition: all .3s;
	height: 0px;
	overflow: hidden;
	top: 60px;
	left: -433px;
	display: grid;
	grid-template-columns: 430px 190px 417px;
	grid-column-gap: 40px;

	a {
		font-size: 15px;
		color: #54667a;
		display: block;

		&:hover {}
	}

	.pages-item {
		a {
			font-weight: 400;
		}

		.pages__title {
			font-weight: 500;
			color: #000;
			border-bottom: 1px solid #e8ebf0;
			padding-bottom: 10px;
		}
	}

	.martplacePpages,
	.othersPages {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 10px;
	}

	.dashboards {
		margin-top: 10px;
	}
}



.header-bottom__search {
	form {
		position: relative;
		width: 360px;
		margin: 0 auto;
	}

	input {
		width: 100%;
		height: 44px;
		padding-left: 25px;
		border: 1px solid #d9dfe5;
		border-radius: 5px;
		outline: none;
		background: #fff;
		color: #898f96;
		border-radius: 25px;
	}

	button {
		position: absolute;
		top: 0;
		right: 0px;
		width: 70px;
		height: 44px;
		border: none;
		background: $blue;
		cursor: pointer;
		border-radius: 25px;
	}

	button:before {
		content: "\f002";
		font-family: 'icomoon' !important;
		font-size: 15px;
		color: #fff;
	}
}

.header-grd {
	background-image: linear-gradient(270deg, rgb(13, 62, 242) 0%, rgb(45, 47, 199) 46%, rgb(76, 31, 156) 100%);
}

.search__inner {
	text-align: center;
	padding-top: 75px;

	&-title {
		font-size: 26px;
		color: #f3f3f8;
		padding-bottom: 35px;

		span {
			font-weight: 500;
		}
	}

	form {
		position: relative;
		width: 557px;
		margin: 0 auto;

		input {
			width: 100%;
			height: 55px;
			border-radius: 25px;
			border: none;
			outline: none;
			padding: 0 140px 0 40px;
		}

		button {
			position: absolute;
			right: 0;
			width: 110px;
			height: 55px;
			font-size: 15px;
			border-radius: 25px;
			background-color: $blue;
			border: none;
			outline: none;
			color: #fff;
			cursor: pointer;
		}
	}
}

.breadcrumbs {
	text-align: center;

	&__inner {
		padding-top: 37px;
		padding-bottom: 30px;
	}
}



/*Market*/
.market {
	padding: 184px 0 235px;
	background-color: #2346cb;
}

.market__inner {
	&-title {
		font-size: 60px;
		color: #fff;
		line-height: 70px;
		text-align: center;

		span {
			display: block;
			font-weight: 600;
		}
	}

	&-text {
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		text-align: center;
		padding-top: 40px;
	}

	&-btn {
		text-align: center;
		padding-top: 65px;

		button+button {
			margin-left: 15px;
		}
	}

	.btn {
		border: 1px solid #fff;
		background-color: #2346cb;

		&:hover {
			background-color: #fff;
			color: $blue;
			transition: all .5s;
		}
	}
}

/*Advantages*/
.advantages__inner {
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.advantages {
	&__search {
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		width: 100%;
		position: absolute;
		top: -70px;
		z-index: 1;

		.block-1 {
			top: -27px;
			max-width: 1080px;
		}

		.block-2 {
			top: -13px;
			max-width: 1110px;
		}

		.block {
			opacity: 0.502;
			position: absolute;
			height: 50px;
			background-color: #fff;
			left: 0;
			right: 0;
			z-index: -1;
			border-radius: 6px;
			margin: 0 auto;
		}

		form {
			text-align: center;
			padding: 40px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			background-color: #fff;
			border-radius: 10px;

			input {
				width: 100%;
				max-width: 615px;
				outline: none;
				border: 1px solid green;
				width: 100%;
				height: 53px;
				border: 1px solid #dcdcdc;
				padding: 0px 20px;
			}

			select {
				margin-left: 0;
				margin-right: auto;
				max-width: 193px;
				width: 100%;
				height: 53px;
				border: 1px solid #dcdcdc;
				border-left: none;
				padding: 0 40px 0 20px;
				outline: none;
			}

			select {
				width: 100%;
				position: relative;
				font: inherit;
				letter-spacing: inherit;
				word-spacing: inherit;
				-moz-appearance: none;
				-webkit-appearance: none;
				appearance: none;
			}

			select:not([multiple]) {
				padding-right: 1.2em;
				background-repeat: no-repeat;
				background-position: calc(90%);
				background-size: 0.85em auto;
				background-image: url(../image/arrow.svg);
				cursor: pointer;
			}

			/* скроет иконку стрелки в IE */
			select::-ms-expand {
				display: none;
			}

			button {
				width: 100%;
				max-width: 225px;
				margin-left: 30px;
				height: 53px;
				border-radius: 5px;
			}
		}
	}
}

.advantages__items {
	padding-top: 185px;
	padding-bottom: 120px;
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	padding: 40px 33px 50px;
	max-width: 363px;
	width: 100%;
	text-align: center;

	&:hover {
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		transition: all .3s;
	}

	&-img {}

	&-title {
		font-size: 24px;
		line-height: 7.2px;
		padding-top: 37px;
	}

	&-text {
		color: #555;
		padding-top: 30px;
	}
}


//Weekly
.weekly {
	background-color: #eff1f5;
	padding: 120px 0;

	&__top {
		position: relative;
		padding: 40px 30px;
		background-color: #fff;
		font-size: 30px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-btn {
			height: 45px;
			width: 120px;
			border-radius: 25px;
			background-color: #7347c1;
			position: relative;

			.icon-angle-left {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
				padding-left: 27px;
				cursor: pointer;
				font-size: 30px;
				color: #fff;
			}

			.icon-angle-right {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				padding-right: 27px;
				cursor: pointer;
				font-size: 30px;
				color: #fff;
			}
		}
	}
}


.weekly__bottom {
	display: grid;
	grid-template-columns: 50% 50%;
	box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
	min-height: 448px;

	&-img {
		min-height: 448px;
		background-color: #4e5760;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.weekly__item {
	padding: 50px 50px 25px 50px;
	background-color: #fff;

	&-title {
		font-size: 24px;
		font-weight: 500;
		padding-bottom: 10px;
	}

	&-category {
		padding-bottom: 20px;

		a {
			padding-left: 40px;
			font-size: 15px;
			color: #000;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: #7347c1;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		span {
			a {
				color: #7347c1;
				margin-left: 20px;
				padding-left: 25px;

				&::before {
					background-image: url(../image/Weekly/wordpress.png);
					background-color: transparent;
					background-repeat: no-repeat;
					width: 15px;
					height: 15px;
				}
			}
		}

	}

	&-text {
		color: #555;
		padding-bottom: 30px;
	}

	&-tag {
		padding-bottom: 44px;
		border-bottom: 1px solid #ececec;

		li {
			display: inline-block;
			background-color: #f1f3f6;
			padding: 3px 14px 2px 18px;
			border-radius: 25px;
		}

		a {
			color: #868c96;
		}
	}

	&-info {
		padding-top: 23px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.item__info {
			display: flex;
			align-items: center;

			.btn {
				max-width: 100px;
				font-weight: 500;
				color: #fff;
				font-size: 15px;
				padding-top: 7px;
				padding-bottom: 7px;
			}
		}
	}
}

.like-btn {
	margin-left: 20px;
	width: 43px;

	// display: flex;
	// align-items: center;
	.numb {
		padding-left: 10px;
	}

	.icon-heart-o {}
}

.like-active.basic {
	// color: red;
}

.like-toggle {
	outline: none;
	box-shadow: none;
	border: none;
	width: 10px;
	height: 10px;
	font-size: 1.3em;
	color: #ccc;
	cursor: pointer;
	// border-radius: 550%;

}

.like-active.basic {
	color: red;
}

.item__info-icon {
	display: flex;
}

.basket-btn {
	margin-left: 20px;
}

.icon-cart {
	margin-right: 10px;
	color: $blue;
}

.basket-numb {
	color: $blue;
}




//Product
.product {
	padding-top: 115px;
	padding-bottom: 120px;
	background-color: #f6f7fb;

	.mixitup-control-active {
		background-color: $blue;
		color: #fff;
		transition: all .5s;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 45px 30px 40px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		background-color: #fff;
		margin-bottom: 50px;

		&-title {
			font-size: 30px;
		}
	}
}

.product__inner {
	&-btn {
		padding: 30px;
		background-color: #fff;
		margin-bottom: 50px;
		box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);

		button {
			padding: 7px 20px;
			background-color: #f1f3f6;
			color: #747b86;
			font-size: 15px;
			border-radius: 25px;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}
}

.product__inner-box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 28px;
	margin-bottom: 60px;
}

.product__item {
	width: 100%;
	max-width: 360px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	background-color: #fff;

	&-btn {
		padding-top: 60px;
		text-align: center;
	}

	&-img {
		width: 100%;
		min-height: 230px;
		background-color: #6251bd;
		padding: 90px 45px;
		display: flex;
		justify-content: space-between;

		button {
			display: none;
		}

		&:hover {
			button {
				display: block;
				max-width: 130px;
				width: 100%;
				height: 43px;
				padding: 0 20px;
				border-radius: 25px;
				border: 1px solid #fff;
				outline: none;
				background-color: transparent;
				color: #fff;
				font-size: 15px;
				font-weight: 500;
				cursor: pointer;

				&:hover {
					background-color: #fff;
					color: $blue;
					transition: all .3s;
				}
			}
		}

	}
}

.product__item-content {
	padding: 30px 30px 15px;
	border-bottom: 1px solid #ececec;

	.product__item-name {
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 10px;
	}

	.product__item-category {
		padding-bottom: 20px;

		a {
			padding-left: 40px;
			font-size: 15px;
			color: #000;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: #7347c1;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		span {
			a {
				color: #7347c1;
				margin-left: 20px;
				padding-left: 25px;

				&::before {
					background-image: url(../image/Weekly/wordpress.png);
					background-color: transparent;
					background-repeat: no-repeat;
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}

.product__item-info {
	padding: 10px 30px;
}

//Follower
.follower {
	padding: 120px 0;
	background-color: #eff1f5;
}

//Innumber

.innumber {
	padding-top: 95px;
	padding-bottom: 95px;
	background-color: #212225;
}

.innumber__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	&-item {
		text-align: center;
		width: 165px;
	}

	&-img {
		height: 47px;
		margin-bottom: 35px;
	}

	&-numb {
		font-size: 36px;
		color: #feb71d;
		padding-bottom: 12px;
	}

	&-numb.cloud {
		font-size: 36px;
		color: #58c9e9;
	}

	&-numb.smile {
		font-size: 36px;
		color: #77de51;
	}

	&-numb.people {
		font-size: 36px;
		color: #ff6a6d;
	}

	&-text {
		font-size: 18px;
		color: #fff;
	}
}

//Choice//
.choice {
	text-align: center;
	padding-bottom: 118px;
	padding-top: 120px;
}

.choice__inner {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;

	.choice__item {
		padding: 20px 25px;
		max-width: 360px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		position: relative;

		&-nmb {
			font-weight: 300;
			color: rgba(92, 135, 248, 0.2);
			font-size: 48px;
			text-align: left;
		}

		&-img {}

		&-title {
			font-size: 24px;
			line-height: 7.2px;
			padding-top: 53px;
			padding-bottom: 30px;
		}

		&-text {
			padding: 0px 5px 30px;
		}
	}
}

//Sell//
.sell {}

.sell__inner {
	display: flex;

	.sell__item-sell {
		background-color: #0674ec;
		width: 50%;
		text-align: center;
	}

	.sell__item-buy {
		background-color: #7347c1;
		width: 50%;
		text-align: center;
	}
}

.item-sell {
	padding: 100px 190px;
	color: #fff;

	&-title {
		font-size: 36px;
		line-height: 7.2px;
		padding-top: 48px;
		padding-bottom: 35px;
	}

	.btn {
		max-width: 190px;
		margin-top: 45px;
		height: 55px;
		background-color: #fff;
		color: $blue;
		border: 1px solid #fff;
	}
}

//feedback//
.feedback {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
}

.feedback__inner {
	padding-top: 55px;
	display: flex;

	.feedback__item {
		&+.feedback__item {
			margin-left: 28px;
		}
	}
}

.feedback__item {
	width: 100%;
	max-width: 555px;
	padding: 50px 40px 50px 40px;
	box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	border-left: 2px solid $blue;
	position: relative;
}

.feedback__clients {
	display: flex;
	align-items: center;

	&-img {
		width: 80px;
		height: 80px;
		background-color: #808080;
		border-radius: 50%;
	}

	&-name {
		font-size: 20px;
	}

	&-product {
		color: #555555;
	}

	&-info {
		text-align: start;
		padding-left: 20px;
	}
}

.feedback__item-flex {
	display: flex;
	justify-content: space-between;

}

.feedback__item-text {
	text-align: start;
	padding-top: 20px;
	color: #555555;
}

.feedback__item-bubble {}

.icon-comment-o:before {
	font-size: 60px;
	color: #e8e8e8;
}

.feedback__btn {
	padding-top: 60px;
}

//Bonus
.bonus {
	&__inner {
		display: flex;
		// justify-content: space-between;
	}
}

.bonus__inner-item {
	width: 50%;
	text-align: center;

}

.bonus-left {
	padding: 58px 0;

	&-text {
		padding-top: 10px;

		span {
			color: $blue;
		}
	}
}

.bonus-right {
	padding: 58px 0;
	border-left: 1px solid #e8eaf3;

	&-text {
		padding-top: 10px;

		span {
			color: #7347c1;
		}
	}
}

//Join//
.join {
	padding: 110px 0;
	text-align: center;
	background-image: linear-gradient(to left, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
	color: #fff;

	&-title {
		font-size: 36px;
		padding-bottom: 22px;
	}

	&-text {
		font-size: 18px;
		padding-bottom: 40px;
	}

	&-button {
		.btn {
			max-width: 190px;
			height: 55px;
			background-color: #fff;
			color: #0674ec;
			border: 1px solid #fff;
		}
	}
}

//Footer//

.footer__top {
	padding-top: 114px;
	padding-bottom: 126px;
	background-color: #262b30;
}

.footer__inner {
	display: flex;
	justify-content: space-between;

}

.footer__coll {
	max-width: 275px;
	width: 100%;
	line-height: 27px;
	color: #ababab;

	a {
		color: #ababab;
	}

	&-logo {
		padding-bottom: 20px;
		display: flex;
		align-items: center;

		a {
			color: #fff;
			font-size: 24px;
			font-weight: 600;
			line-height: 22.4px;

			&+a {
				padding-left: 4px;
			}

			span {
				color: $blue;
			}
		}
	}

	&-text {
		font-size: 15px;
	}

	&-contact {
		padding-top: 20px;

		a {
			color: #ababab;
			;
		}
	}

	&-menu {
		max-width: 135px;
		width: 100%;
		font-size: 15px;
	}

	.menu__burger {
		display: none;
	}

	&-social {
		max-width: 365px;
		width: 100%;
	}

	&-title {
		font-size: 18px;
		color: #fff;
		padding-bottom: 20px;
	}

	&-list {
		line-height: 32px;

		a:hover {
			color: #fff;
			transition: all .3s;
		}
	}

	&-search {
		padding-top: 30px;

		form {
			position: relative;
			width: 360px;
			margin: 0 auto;
		}

		input {
			width: 100%;
			height: 50px;
			padding-left: 25px;
			border: 1px solid #d9dfe5;
			border-radius: 5px;
			outline: none;
			background: #fff;
			color: #898f96;
			border-radius: 25px;
		}

		button {
			position: absolute;
			top: 0;
			right: 0px;
			width: 110px;
			height: 50px;
			border: none;
			background: $blue;
			cursor: pointer;
			border-radius: 20px;
			color: #fff;
			font-size: 15px;
		}
	}

	&-icon {
		&>div+div {
			margin-left: 13px;
		}

		padding-top: 55px;
		display: flex;

		a {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #395799;
			position: relative;
			color: #fff;

			&::after {
				content: '\f002';
				position: absolute;
				font-family: 'icomoon' !important;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.cooll__icon-twitter {
		a {
			background-color: #19b2f5;

			&::after {
				content: '\f099';
			}
		}
	}

	.cooll__icon-google {
		a {
			background-color: #f05b44;

			&::after {
				content: '\f1a0';
			}
		}
	}

	.cooll__icon-pinteres {
		a {
			background-color: #9c0c1c;

			&::after {
				content: '\f0d2';
			}
		}
	}

	.cooll__icon-linkedin {
		a {
			background-color: #0da6be;

			&::after {
				content: '\f0e1';
			}
		}
	}

	.cooll__icon-dribbble {
		a {
			background-color: #ea4c89;

			&::after {
				content: '\f17d';
			}
		}
	}
}

.footer__bottom {
	background-color: #192027;
	padding: 40px 0;
	text-align: center;
	color: #999999;

	span {
		color: #fff;
	}
}

//Product__setup
.product__setup {
	padding: 28px 0;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

	.product__setup-left {
		a {
			color: #555;

			&:hover {
				color: $blue;
				transition: all .3s;
			}
		}

		span {
			margin-left: 40px;
		}
	}
}

.product__setup-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	form {
		.select-price {
			display: inline;
			position: relative;

			&::before {
				content: 'Price :';
				position: absolute;
				font-size: 14px;
				color: #555555;
				z-index: 1;
				top: 50%;
				transform: translate(0, -50%);
				margin-left: 18px;
			}
		}

		select {
			height: 40px;
			width: 220px;
			outline: none;
			font-size: 14px;
			color: #747b86;
		}

		#price {
			padding-left: 60px;
			position: relative;
		}

		#items {
			padding-left: 18px;
		}
	}
}

//product-page
.product-page {
	padding-top: 80px;
	background-color: #eff1f5;
}

.product__page-inner {
	display: flex
}

.product-page__aside {
	margin-right: 30px;
}

.aside__item {
	background-color: #fff;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	padding: 0 30px;
	margin-bottom: 30px;
	width: 265px
}

.aside__title {
	border-bottom: 1px solid #e7ebee;
	font-size: 20px;
	color: #010101;
	padding: 32px 0 25px;
}

.category__list {
	padding: 10px 0 35px;

	span {
		color: #747b86;
	}

	a {
		color: #555555;

		&:hover {
			color: $blue;
			transition: all .3s;
		}
	}

	li {
		padding-top: 13px;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-left: 20px;

		&::before {
			position: absolute;
			content: '\f105';
			font-family: 'icomoon' !important;
			left: 0;
			color: #747b86;
		}
	}
}

.filter__list {
	li {
		&::before {
			position: absolute;
			content: '\f10c';
			font-family: 'icomoon' !important;
			left: 0;
			color: #747b86;
		}
	}
}

//login
.login {
	padding: 70px 0 120px;
	background-color: #eff1f5;
}

.login__inner {
	width: 555px;
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

	.login__top {
		border-bottom: 1px solid #e8ebf0;
		margin-bottom: 30px;
		padding-top: 60px;

		.login__title {
			font-size: 26px;
			color: #000
		}

		.login__text {
			color: #555555;
			padding-top: 12px;
			padding-bottom: 17px;
		}
	}

	.login__form {
		padding: 0 50px 61px;
	}

	form {
		div {
			text-align: left;
			font-weight: 500;
			padding-bottom: 9px;
		}

		input {
			width: 100%;
			height: 50px;
			border: none;
			outline: none;
			background-color: #f4f5f8;
			margin-bottom: 30px;
			padding-left: 20px;
			padding-right: 40px;
		}
	}

	.radio-form {
		text-align: left;

		input[type="checkbox"]:checked,
		input[type="checkbox"]:not(:checked),
		input[type="radio"]:checked,
		input[type="radio"]:not(:checked) {
			position: absolute;
			left: -9999px;
		}

		input[type="checkbox"]:checked+label,
		input[type="checkbox"]:not(:checked)+label,
		input[type="radio"]:checked+label,
		input[type="radio"]:not(:checked)+label {
			display: inline-block;
			position: relative;
			padding-left: 28px;
			line-height: 20px;
			cursor: pointer;
		}

		input[type="checkbox"]:checked+label:before,
		input[type="checkbox"]:not(:checked)+label:before,
		input[type="radio"]:checked+label:before,
		input[type="radio"]:not(:checked)+label:before {
			content: "";
			position: absolute;
			left: 0px;
			top: 0px;
			width: 18px;
			height: 18px;
			border: none;
			background-color: $blue;
		}

		input[type="checkbox"]:checked+label:before,
		input[type="checkbox"]:not(:checked)+label:before {
			border-radius: 50%;
		}

		input[type="radio"]:checked+label:before,
		input[type="radio"]:not(:checked)+label:before {
			border-radius: 100%;
		}

		input[type="checkbox"]:checked+label:after,
		input[type="checkbox"]:not(:checked)+label:after,
		input[type="radio"]:checked+label:after,
		input[type="radio"]:not(:checked)+label:after {
			content: "";
			position: absolute;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}

		input[type="checkbox"]:checked+label:after,
		input[type="checkbox"]:not(:checked)+label:after {
			left: 3px;
			top: 4px;
			width: 12px;
			height: 9px;
			border-radius: 1px;
			border-left: 4px solid #fff;
			border-bottom: 4px solid #fff;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		input[type="radio"]:checked+label:after,
		input[type="radio"]:not(:checked)+label:after {
			left: 5px;
			top: 5px;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: #e145a3;
		}

		input[type="checkbox"]:not(:checked)+label:after,
		input[type="radio"]:not(:checked)+label:after {
			opacity: 0;
		}

		input[type="checkbox"]:checked+label:after,
		input[type="radio"]:checked+label:after {
			opacity: 1;
		}
	}

	.login__btn {
		margin-top: 32px;
		text-align: left;

		.btn {
			max-width: 190px;
			height: 50px;
			font-weight: 500;
		}
	}

	.login__lost {
		padding-top: 40px;
		display: flex;
		justify-content: space-between;
		color: #898f96;

		span {
			color: $blue;
		}
	}
}

//register
.register {
	background-color: #eff1f5;
	padding-top: 70px;
	padding-bottom: 120px;
}

.register__inner {
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	width: 555px;
	padding: 60px 0 60px 0px;

	.register__top {
		border-bottom: 1px solid #e8ebf0;
		padding-left: 60px;
		padding-right: 63px;
		margin-bottom: 28px;

		.register__title {
			font-size: 26px;
			padding-bottom: 13px;
		}

		.register__text {
			color: #555555;
			line-height: 28px;
			padding-bottom: 30px;
		}
	}

	.register__form {
		text-align: left;
		padding: 0 50px;

		div {
			font-weight: 500;
			margin-bottom: 6px;
		}

		input {
			width: 100%;
			height: 50px;
			border: none;
			outline: none;
			background-color: #f4f5f8;
			padding-left: 20px;
			padding-right: 40px;
			margin-bottom: 25px;
		}
	}

	.register__btn {
		text-align: left;
		padding: 0 50px;

		.btn {
			max-width: 190px;
			height: 50px;
			font-weight: 500;
		}
	}

	.register__login {
		text-align: left;
		color: #898f96;
		padding: 0 50px;
		margin-top: 36px;

		span {
			color: $blue;
		}
	}
}

//Recover

.recover {
	background-color: #eff1f5;
	padding-top: 70px;
	padding-bottom: 120px;
}

.recover__inner {
	background-color: #fff;
	width: 555px;
	margin: 0 auto;
	padding: 60px 0;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

	.recover__text {
		color: #555555;
		padding: 0 50px;
		padding-bottom: 28px;
		border-bottom: 1px solid #e8ebf0;
		margin-bottom: 38px;
	}

	.recover__form {
		padding: 0 50px;

		div {
			font-weight: 500;
			padding-bottom: 10px;
		}

		input {
			width: 100%;
			height: 50px;
			padding-left: 20px;
			padding-right: 40px;
			background-color: #f4f5f8;
			border: none;
			outline: none;
			margin-bottom: 30px;
		}
	}

	.recover__btn {
		padding: 0 50px;

		button {
			font-weight: 500;
		}
	}
}

//work
.work {}

.work__inner {
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.work__item {
	width: 450px;

	&-title {
		font-size: 30px;
		margin-bottom: 45px;
	}

	&-text {
		color: #555555;
		margin-bottom: 30px;
	}

	.btn {
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
		&:hover {
			background-color: #fff;
			color: $blue;
			transition: all .3s;
		}
	}
}
.work__middle{
	background-color: #eff1f5;
}
//Plan
.plan{
	background-color: #eff1f5;
	padding: 120px 0;
	&__title{
		font-size: 36px;
		text-align: center;
		padding-bottom: 30px;
		span{
			color: $blue;
		}
	}
	&__text{
		margin: 0 auto;
		width: 680px;
		text-align: center
	}
}
.plan__inner{
	display: flex;
	justify-content: space-between;
	.plan__item{
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		width: 360px;
		padding: 28px 30px 40px 30px;
		border-top: 3px solid #ff6a6c;
		margin-top: 55px;
		background-color: #fff;
		&-name{
			text-align: center;
			font-size: 24px;
			font-weight: 500;
			padding-bottom: 24px;
			border-bottom: 1px solid #e8ebf0;
		}
		&-price{
			text-align: center;
			font-size: 36px;
			padding-top: 30px;
			padding-bottom: 45px;
			span{
				font-size: 16px;
				color:#555555;
			}
		}
		.plan-info{
			color: #555555;
			margin-bottom: 30px;
			li{
				padding-left: 22px;
				position: relative;
				&::before{
					position: absolute;
					content: '';
					width: 7px;
					height: 7px;
					border-radius: 50%;
					background-color: #c5cad4;
					left: 0;
					top: 50%;
					transform: translate(0,-50%);
				}
			}
			span{
				color: #000;
				font-weight: 500;
			}
		}
		&-btn{
			button{
				width: 100%;
				height: 50px;
				background-color: #ff6a6c;
				border: none;
				outline: none;
				cursor: pointer;
				font-size: 18px;
				font-weight: 500;
				color: #fff;
			}
		}
	}
	.plan__item.business{
		border-color:$blue;
	}
	.plan__item-btn.business{
		button{
			background-color: $blue;
		}
	}
	.plan__item.agency{
		border-color: #feb71d
	}
	.plan__item-btn.agency{
		button{
			background-color: #feb71d;
		}
	}
}
//Terms
.terms{
	background-color: #eff1f5;
	padding: 58px 118px;
}
.terms__inner{
	background-color: #fff;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	padding-bottom: 95px;
	.terms__item{
		margin-bottom: 20px;
		&-title{
			font-size: 24px;
			padding: 40px 30px  25px;
			border-bottom:1px solid #e8ebf0;
			margin-bottom: 30px;
		}
		&-text{
			color: #555555;
			padding-left: 30px;
			padding-right: 40px;
		}
	}
}
//Error
.error{
	padding-top: 75px;
	padding-bottom: 100px;
	&__inner{
		text-align: center;
		margin: 0 auto;
	}
	.error__img{
		margin-bottom: 45px;
	}
	.error__title{
		font-size: 30px;
		margin-bottom: 40px;
	}
	.error__btn{
		.btn{
			max-width: 190px;
			font-weight: 500;
		}
	}
}
//Contact
.contact{
	background-color: #eff1f5;
	padding-top: 120px;
	padding-bottom: 117px;
	&__title{
		text-align: center;
		font-size: 36px;
		margin-bottom: 25px;
		span{
			a{
				color: $blue;
			}
		}
	}
	&__text{
		width: 678px;
		color: #555555;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 57px;
	}
}
.contact__inner{
	display: flex;
	justify-content: space-between;
	.contact__item{
		background-color: #fff;
		width: 360px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		padding: 50px 63px;
		border-radius: 4px;
		
		&-img{
			position: relative;
			margin-bottom: 85px;	
			&::before{
				position: absolute;
				content: "\f041";
				font-family: 'icomoon' !important;
				font-size: 53px;
				color: $blue;
				left: 50%;
				transform: translate(-50%,0);
				
			}
		}
		&-title{
			font-size: 20px;
			font-weight: 500;
			text-align: center;
			margin-bottom: 30px;
		}
		&-adress{
			text-align: center;
			color: #555555;
		}
	}
	.contact__item-numb{
		a{
			color: #555555;
		}
	}
	.contact__item-phone{
		.contact__item-img{
			&::before{
				content: "\e942";
			}
		}
	}
	.contact__item-adress{
		a{
			color: #555555;
		}
	}
	.contact__item-adress{
		.contact__item-img{
			&::before{
				content: "\e901";
			}
		}
	}
}
.contact__form{
	padding: 60px 0;
	background-color: #fff;
	margin-top: 50px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	border-radius: 4px;
	&-title{
		font-size: 24px;
		text-align: center;
		padding-bottom: 25px;
		border-bottom: 1px solid #e8ebf0;
		margin-bottom: 40px;
	}
	.form__message{
		width: 750px;
		margin: 0 auto;
		textarea{
			padding: 20px 50px;
			border: 1px solid #e8ebf0;
			outline: none;
			color: #9e9e9e;
			resize: none;
			width: 100%;
			height: 130px;
		}
		&-input{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
			margin-bottom: 35px;
			input{
				height: 50px;
				padding: 0 50px;
				border: 1px solid #e8ebf0;
				outline: none;
				color: #9e9e9e;
			}
		}
	}
	.contact__btn{
		text-align: center;
		margin-top: 25px;
		.btn{
			max-width: 170px;
		}
	}
}
.map__inner{
	iframe{
		width: 100%;
		height: 400px;
	}
}



@import 'media';