@import '../scss/vars';
@import '../scss/global';
@import '../scss/fonts';

.header-top {
	padding: 25px 0;
	background-color: #eef1f3;

	&__seller {
		padding-right: 50px;
	}
}

.header-top__inner {
	display: flex;
	justify-content: space-between;
}

.header-top__logo {
	display: flex;
	align-items: center;

	&>a {
		font-size: 30px;
		font-weight: 600;
		padding-left: 4px;
		line-height: 28px;
		text-decoration: none;
		color: #000;

		span {
			color: $blue;
		}
	}
}

.header-bottom {
	padding: 34px 0;
}

.header-bottom__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-bottom__menu {
	.menu {
		li {
			display: inline-block;

			&+li {
				padding-left: 33px;
			}
		}

		a {
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 500;
			color: #333;
		}
	}
}

.header-bottom__search {
	form {
		position: relative;
		width: 360px;
		margin: 0 auto;
	}

	input {
		width: 100%;
		height: 44px;
		padding-left: 25px;
		border: 1px solid #d9dfe5;
		border-radius: 5px;
		outline: none;
		background: #fff;
		color: #898f96;
		border-radius: 25px;
	}

	button {
		position: absolute;
		top: 0;
		right: 0px;
		width: 70px;
		height: 44px;
		border: none;
		background: $blue;
		cursor: pointer;
		border-radius: 25px;
	}

	button:before {
		content: "\f002";
		font-family: 'icomoon' !important;
		font-size: 15px;
		color: #fff;
	}
}

/*Market*/
.market {
	padding: 184px 0 235px;
	background-color: #2346cb;
}

.market__inner {
	&-title {
		font-size: 60px;
		color: #fff;
		line-height: 70px;
		text-align: center;

		span {
			display: block;
			font-weight: 600;
		}
	}

	&-text {
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		text-align: center;
		padding-top: 40px;
	}

	&-btn {
		text-align: center;
		padding-top: 65px;

		button+button {
			margin-left: 15px;
		}
	}

	.btn {
		border: 1px solid #fff;
		background-color: #2346cb;

		&:hover {
			background-color: #fff;
			color: $blue;
			transition: all .5s;
		}
	}
}

/*Advantages*/
.advantages__inner {
	margin: 0 auto;
	position: relative;
}

.advantages {
	&__search {
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		width: 100%;
		position: absolute;
		top: -70px;

		form {
			text-align: center;
			padding: 40px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			background-color: #fff;

			input {
				width: 100%;
				max-width: 615px;
				outline: none;
				border: 1px solid green;
				width: 100%;
				height: 53px;
				border: 1px solid #dcdcdc;
				padding: 0px 20px;
			}

			select {
				margin-left: 0;
				margin-right: auto;
				max-width: 193px;
				width: 100%;
				height: 53px;
				border: 1px solid #dcdcdc;
				border-left: none;
				padding: 0 40px 0 20px;
				outline: none;
			}

			select {
				width: 100%;
				position: relative;
				font: inherit;
				letter-spacing: inherit;
				word-spacing: inherit;
				-moz-appearance: none;
				-webkit-appearance: none;
				appearance: none;
			}

			select:not([multiple]) {
				padding-right: 1.2em;
				background-repeat: no-repeat;
				background-position: calc(90%);
				background-size: 0.85em auto;
				background-image: url(../image/arrow.svg);
				cursor: pointer;
			}

			/* скроет иконку стрелки в IE */
			select::-ms-expand {
				display: none;
			}

			button {
				width: 100%;
				max-width: 225px;
				margin-left: 30px;
				height: 53px;
				border-radius: 0px;
			}
		}
	}
}

.advantages__items {
	padding-top: 185px;
	padding-bottom: 120px;
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	padding: 40px 33px 50px;
	max-width: 363px;
	width: 100%;
	text-align: center;

	&:hover {
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		transition: all .3s;
	}

	&-img {}

	&-title {
		font-size: 24px;
		line-height: 7.2px;
		padding-top: 37px;
	}

	&-text {
		color: #555;
		padding-top: 30px;
	}
}


//Weekly
.weekly {
	background-color: #eff1f5;
	padding: 120px 0;

	&__top {
		padding: 40px 30px;
		background-color: #fff;
		font-size: 30px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		margin-bottom: 50px;
	}
}

.weekly__bottom {
	max-width: 100%;
	display: flex;
	box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
	min-height: 448px;

	&-img {
		min-width: 50%;
		background-color: #4e5760;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.weekly__item {
	min-width: 50%;
	padding: 50px 50px 25px 50px;
	background-color: #fff;

	&-title {
		font-size: 24px;
		font-weight: 500;
		padding-bottom: 10px;
	}

	&-category {
		padding-bottom: 20px;

		a {
			padding-left: 40px;
			font-size: 15px;
			color: #000;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: #7347c1;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		span {
			a {
				color: #7347c1;
				margin-left: 20px;
				padding-left: 25px;

				&::before {
					background-image: url(../image/Weekly/wordpress.png);
					background-color: transparent;
					background-repeat: no-repeat;
					width: 15px;
					height: 15px;
				}
			}
		}

	}

	&-text {
		color: #555;
		padding-bottom: 30px;
	}

	&-tag {
		padding-bottom: 44px;
		border-bottom: 1px solid #ececec;

		li {
			display: inline-block;
			background-color: #f1f3f6;
			padding: 3px 14px 2px 18px;
			border-radius: 25px;
		}

		a {
			color: #868c96;
		}
	}

	&-info {
		padding-top: 23px;

		.item__info {
			.btn {
				max-width: 100px;
				font-weight: 500;
				color: #fff;
				font-size: 15px;
				padding-top: 7px;
				padding-bottom: 7px;
			}
		}
	}
}

//Product
.product {
	padding-top: 115px;
	padding-bottom: 120px;
	background-color: #f6f7fb;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 45px 30px 40px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		background-color: #fff;
		margin-bottom: 50px;

		&-title {
			font-size: 30px;
		}
	}
}

.product__inner {
	&-btn {
		padding: 30px;
		background-color: #fff;
		margin-bottom: 50px;
		box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);

		button {
			padding: 7px 20px;
			background-color: #f1f3f6;
			color: #747b86;
			font-size: 15px;
			border-radius: 25px;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}
}

.product__inner-box {}

.product__item {
	width: 100%;
	max-width: 360px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	background-color: #fff;

	&-btn {
		padding-top: 60px;
		text-align: center;
	}

	&-img {
		width: 100%;
		min-height: 230px;
		background-color: #6251bd;
		padding: 90px 45px;
		display: flex;
		justify-content: space-between;

		button {
			display: none;
		}

		&:hover {
			button {
				display: block;
				max-width: 130px;
				width: 100%;
				height: 43px;
				padding: 0 20px;
				border-radius: 25px;
				border: 1px solid #fff;
				outline: none;
				background-color: transparent;
				color: #fff;
				font-size: 15px;
				font-weight: 500;
				cursor: pointer;

				&:hover {
					background-color: #fff;
					color: $blue;
					transition: all .3s;
				}
			}
		}

	}
}

.product__item-content {
	padding: 30px 30px 15px;
	border-bottom: 1px solid #ececec;

	.product__item-name {
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 10px;
	}

	.product__item-category {
		padding-bottom: 20px;

		a {
			padding-left: 40px;
			font-size: 15px;
			color: #000;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: #7347c1;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		span {
			a {
				color: #7347c1;
				margin-left: 20px;
				padding-left: 25px;

				&::before {
					background-image: url(../image/Weekly/wordpress.png);
					background-color: transparent;
					background-repeat: no-repeat;
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}

.product__item-info {
	padding: 10px 30px;
}

//Follower
.follower {
	padding: 120px 0;
	background-color: #eff1f5;
}

//Innumber

.innumber {
	padding-top: 95px;
	padding-bottom: 95px;
	background-color: #212225;
}

.innumber__inner {
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
	&-item{
		text-align: center;
	}
	&-img{
		height: 47px;
		margin-bottom: 35px;
	}
	&-numb{
		font-size: 36px;
		color: #feb71d;
		padding-bottom: 12px;
	}
	&-numb.cloud{
		font-size: 36px;
		color: #58c9e9;
	}
	&-numb.smile{
		font-size: 36px;
		color: #77de51;
	}
	&-numb.people{
		font-size: 36px;
		color: #ff6a6d;
	}
	&-text{
		font-size: 18px;
		color: #fff;
	}
}

//Choice//
.choice {
	text-align: center;
	padding-bottom: 118px;
	padding-top: 120px;
}

.choice__inner {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;

	.choice__item {
		padding: 20px 25px;
		max-width: 360px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		position: relative;

		&-nmb {
			font-weight: 300;
			color: rgba(92, 135, 248, 0.2);
			font-size: 48px;
			text-align: left;
		}

		&-img {}

		&-title {
			font-size: 24px;
			line-height: 7.2px;
			padding-top: 53px;
			padding-bottom: 30px;
		}

		&-text {
			padding: 0px 5px 30px;
		}
	}
}

//Sell//
.sell {}

.sell__inner {
	display: flex;

	.sell__item-sell {
		background-color: #0674ec;
		width: 50%;
		text-align: center;
	}

	.sell__item-buy {
		background-color: #7347c1;
		width: 50%;
		text-align: center;
	}
}

.item-sell {
	padding: 100px 190px;
	color: #fff;

	&-title {
		font-size: 36px;
		line-height: 7.2px;
		padding-top: 48px;
		padding-bottom: 35px;
	}

	.btn {
		max-width: 190px;
		margin-top: 45px;
		height: 55px;
		background-color: #fff;
		color: $blue;
		border: 1px solid #fff;
	}
}

//feedback//
.feedback {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
}

.feedback__inner {
	padding-top: 55px;
	display: flex;

	.feedback__item {
		&+.feedback__item {
			margin-left: 28px;
		}
	}
}

.feedback__item {
	width: 100%;
	max-width: 555px;
	padding: 50px 40px 50px 40px;
	box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	border-left: 2px solid $blue;
	position: relative;
}

.feedback__clients {
	display: flex;
	align-items: center;

	&-img {
		width: 80px;
		height: 80px;
		background-color: #808080;
		border-radius: 50%;
	}

	&-name {
		font-size: 20px;
	}

	&-product {
		color: #555555;
	}

	&-info {
		text-align: start;
		padding-left: 20px;
	}
}

.feedback__item-flex {
	display: flex;
	justify-content: space-between;

}

.feedback__item-text {
	text-align: start;
	padding-top: 20px;
	color: #555555;
}

.feedback__item-bubble {}

.icon-comment-o:before {
	font-size: 60px;
	color: #e8e8e8;
}

.feedback__btn {
	padding-top: 60px;
}

//Bonus
.bonus {
	&__inner {
		display: flex;
		// justify-content: space-between;
	}
}

.bonus__inner-item {
	width: 50%;
	text-align: center;

}

.bonus-left {
	padding: 58px 0;

	&-text {
		padding-top: 10px;

		span {
			color: $blue;
		}
	}
}

.bonus-right {
	padding: 58px 0;
	border-left: 1px solid #e8eaf3;

	&-text {
		padding-top: 10px;

		span {
			color: #7347c1;
		}
	}
}

//Join//
.join {
	padding: 110px 0;
	text-align: center;
	background-image: linear-gradient(to left, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
	color: #fff;

	&-title {
		font-size: 36px;
		padding-bottom: 22px;
	}

	&-text {
		font-size: 18px;
		padding-bottom: 40px;
	}

	&-button {
		.btn {
			max-width: 190px;
			height: 55px;
			background-color: #fff;
			color: #0674ec;
			border: 1px solid #fff;
		}
	}
}

//Footer//

.footer__top {
	padding-top: 114px;
	padding-bottom: 126px;
	background-color: #262b30;
}

.footer__inner {
	display: flex;
	justify-content: space-between;

}

.footer__coll {
	max-width: 275px;
	width: 100%;
	line-height: 27px;
	color: #ababab;

	a {
		color: #ababab;
	}

	&-logo {
		padding-bottom: 20px;
		display: flex;
		align-items: center;

		a {
			color: #fff;
			font-size: 24px;
			font-weight: 600;
			line-height: 22.4px;

			&+a {
				padding-left: 4px;
			}

			span {
				color: $blue;
			}
		}
	}

	&-text {
		font-size: 15px;
	}

	&-contact {
		padding-top: 20px;

		a {
			color: #ababab;
			;
		}
	}

	&-menu {
		max-width: 135px;
		width: 100%;
		font-size: 15px;
	}

	&-social {
		max-width: 365px;
		width: 100%;
	}

	&-title {
		font-size: 18px;
		color: #fff;
		padding-bottom: 20px;
	}

	&-list {
		line-height: 32px;
	}

	&-search {
		padding-top: 30px;

		form {
			position: relative;
			width: 360px;
			margin: 0 auto;
		}

		input {
			width: 100%;
			height: 50px;
			padding-left: 25px;
			border: 1px solid #d9dfe5;
			border-radius: 5px;
			outline: none;
			background: #fff;
			color: #898f96;
			border-radius: 25px;
		}

		button {
			position: absolute;
			top: 0;
			right: 0px;
			width: 110px;
			height: 50px;
			border: none;
			background: $blue;
			cursor: pointer;
			border-radius: 20px;
			color: #fff;
			font-size: 15px;
		}
	}

	&-icon {
		&>div+div {
			margin-left: 13px;
		}

		padding-top: 55px;
		display: flex;

		a {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #395799;
			position: relative;
			color: #fff;

			&::after {
				content: '\f002';
				position: absolute;
				font-family: 'icomoon' !important;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.cooll__icon-twitter {
		a {
			background-color: #19b2f5;

			&::after {
				content: '\f099';
			}
		}
	}

	.cooll__icon-google {
		a {
			background-color: #f05b44;

			&::after {
				content: '\f1a0';
			}
		}
	}

	.cooll__icon-pinteres {
		a {
			background-color: #9c0c1c;

			&::after {
				content: '\f0d2';
			}
		}
	}

	.cooll__icon-linkedin {
		a {
			background-color: #0da6be;

			&::after {
				content: '\f0e1';
			}
		}
	}

	.cooll__icon-dribbble {
		a {
			background-color: #ea4c89;

			&::after {
				content: '\f17d';
			}
		}
	}
}

.footer__bottom {
	background-color: #192027;
	padding: 40px 0;
	text-align: center;
	color: #999999;

	span {
		color: #fff;
	}
}